# Oefeningen 1

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, Numeric, String, ForeignKey

engine = create_engine('postgresql+psycopg2://postgres:VE2Y9wHxwtGKhn2@localhost: 5432/dvdrental')
metadata = MetaData()

1.
a) maak een lijst met de namen van alle landen

In [ ]:
countries = Table('country', metadata,
    Column('country_id'),
    Column('country')
)

In [ ]:
s = countries.select().order_by(countries.c.country_id)
rp = engine.execute(s)
results = rp.fetchall()
print(results)

In [ ]:
from sqlalchemy.sql import func
from sqlalchemy.sql import select

s = select([func.count(countries.c.country_id).label("aantal_landen")])
print(s)
rp = engine.execute(s)
results = rp.first()
print(results)

3.
a) Wat zijn de voornamen van de klanten

In [ ]:
customers = Table("customer", metadata,
    Column("first_name"),
    Column('last_name'),
    Column('email')
)

In [ ]:
s = select([customers.c.first_name])
print(s)

print(engine.execute(s).fetchall())

b) Maak een lijst met de volledige namen van de klanten.

In [ ]:
s = select([customers.c.first_name, customers.c.last_name])
print(s)
print(engine.execute(s).fetchall())

c) maak een lijst met de volledige namen van de acteurs.

In [ ]:
actors = Table("actor", metadata,
    Column("first_name"),
    Column('last_name')
)

In [ ]:
s = select(actors.c.first_name, actors.c.last_name)
print(s)
print(engine.execute(s).fetchall())

In [ ]:
s = select(actors.c.first_name, actors.c.last_name).where(actors.c.first_name == 'Penelope')
print(s)
print(engine.execute(s).fetchall())

d) maak een lijst met de volledige namen en email van de klanten.

In [ ]:
s = select(func.concat(customers.c.first_name, " ", customers.c.last_name).label("volledige_naam"), customers.c.email)

print(s)
results = engine.execute(s).fetchall()
# print(results)
for result in results:
    print(result.volledige_naam, "\t", result.email)

e) hoeveel kolommen heeft de tabel customer?

In [73]:
print(len(customers.c))
print(customers.c)

3
ImmutableColumnCollection(customer.first_name, customer.last_name, customer.email)

# Oefeningen 2

1.
Geef naam en voornaam van alle klanten
zet alfabetisch op naam

In [ ]:
s = select(customers.c.first_name, customers.c.last_name).order_by(customers.c.last_name)
print(s)
results = engine.execute(s).fetchall()
# print(results)
for result in results:
    print(f"de namam van de klan t is : {result.first_name} {result.last_name}")

2.
Geef naam en voornaam van alle klanten
waarvan de naam begint met een L
en zet alfabetisch op voornaam

In [85]:
from sqlalchemy import desc

s = select(customers.c.first_name, customers.c.last_name).where(customers.c.last_name.like("L%")).order_by(desc(customers.c.first_name))

print(s)

SELECT customer.first_name, customer.last_name
FROM customer
WHERE customer.last_name LIKE :last_name_1 ORDER BY customer.first_name DESC, customer.last_name DESC

In [86]:
from sqlalchemy import desc

s = select(customers.c.first_name, customers.c.last_name).order_by(desc(customers.c.first_name)).where(customers.c.last_name.like("L%")).order_by(desc(customers.c.last_name))

print(s)

SELECT customer.first_name, customer.last_name
FROM customer
WHERE customer.last_name LIKE :last_name_1 ORDER BY customer.first_name DESC, customer.last_name DESC