# Oefeningen 1

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table, Column, Integer, Numeric, String, ForeignKey

engine = create_engine('postgresql+psycopg2://postgres:VE2Y9wHxwtGKhn2@localhost: 5432/dvdrental')
metadata = MetaData()

1.
a) maak een lijst met de namen van alle landen

In [ ]:
countries = Table('country', metadata,
    Column('country_id'),
    Column('country')
)

In [ ]:
s = countries.select().order_by(countries.c.country_id)
rp = engine.execute(s)
results = rp.fetchall()
print(results)

In [ ]:
from sqlalchemy.sql import func
from sqlalchemy.sql import select

s = select([func.count(countries.c.country_id).label("aantal_landen")])
print(s)
rp = engine.execute(s)
results = rp.first()
print(results)

3.
a) Wat zijn de voornamen van de klanten

In [ ]:
customers = Table("customer", metadata,
    Column("first_name"),
    Column('last_name'),
    Column('email')
)

In [ ]:
customers_2 = Table("customer", metadata, 
        autoload=True, autoload_with=engine
)

In [ ]:
s = select([customers_2])
print(s)

print(engine.execute(s).fetchall())

In [ ]:
s = select([customers.c.first_name])
print(s)

print(engine.execute(s).fetchall())

b) Maak een lijst met de volledige namen van de klanten.

In [ ]:
s = select([customers.c.first_name, customers.c.last_name])
print(s)
print(engine.execute(s).fetchall())

c) maak een lijst met de volledige namen van de acteurs.

In [ ]:
actors = Table("actor", metadata,
    Column("first_name"),
    Column('last_name')
)

In [ ]:
s = select(actors.c.first_name, actors.c.last_name)
print(s)
print(engine.execute(s).fetchall())

In [ ]:
s = select(actors.c.first_name, actors.c.last_name).where(actors.c.first_name == 'Penelope')
print(s)
print(engine.execute(s).fetchall())

d) maak een lijst met de volledige namen en email van de klanten.

In [ ]:
s = select(func.concat(customers.c.first_name, " ", customers.c.last_name).label("volledige_naam"), customers.c.email)

print(s)
results = engine.execute(s).fetchall()
# print(results)
for result in results:
    print(result.volledige_naam, "\t", result.email)

e) hoeveel kolommen heeft de tabel customer?

In [ ]:
print(len(customers.c))
print(customers.c)

# Oefeningen 2

1.
Geef naam en voornaam van alle klanten
zet alfabetisch op naam

In [ ]:
s = select(customers.c.first_name, customers.c.last_name).order_by(customers.c.last_name)
print(s)
results = engine.execute(s).fetchall()
# print(results)
for result in results:
    print(f"de namam van de klan t is : {result.first_name} {result.last_name}")

2.
Geef naam en voornaam van alle klanten
waarvan de naam begint met een L
en zet alfabetisch op voornaam

In [ ]:
from sqlalchemy import desc

s = select(customers.c.first_name, customers.c.last_name).where(customers.c.last_name.like("L%")).order_by(desc(customers.c.first_name))

print(s)

In [ ]:
from sqlalchemy import desc

s = select(customers.c.first_name, customers.c.last_name).order_by(desc(customers.c.first_name)).where(customers.c.last_name.like("L%")).order_by(desc(customers.c.last_name)).where(customers.c.first_name.like("%a%")).limit(2)

print(s)

3.
Hoeveel landen zijn er in de db ?

In [40]:
from sqlalchemy import func

landen = Table("country", metadata)

s = select(func.count(landen.c.country_id))

print(s)

rp = engine.execute(s)
result = rp.scalar()
print(result)

SELECT count(country.country_id) AS count_1
FROM country
110

4.
Hoeveel films zijn er die met een "A" beginnen?
Hoeveel hiervan hebben een rental_rate hoger dan 3?
En hoeveel hiervan duren minder lang dan 60 minuten?

In [ ]:
films = Table("film", metadata, autoload=True, autoload_with=engine)

s = select(films).where(films.c.title.like("A%"))

print(s)

rp = engine.execute(s)


# for film in rp.fetchall():
#     print(film.title)

print(rp.c)

In [ ]:
from sqlalchemy  import func

s = select(func.count(films.c.film_id)).where(films.c.title.like("A%"))

print(s)

rp = engine.execute(s)

print(rp.scalar())

In [ ]:
from sqlalchemy  import func

s = select(func.count(films.c.film_id)).where(films.c.title.like("A%")).where(films.c.rental_rate > 3)

print(s)

rp = engine.execute(s)

print(rp.scalar())

In [ ]:
from sqlalchemy  import func

s = select(func.count(films.c.film_id)).where(films.c.title.like("A%")).where(films.c.rental_rate > 3).where(films.c.length <= 60)

print(s)

rp = engine.execute(s)

print(rp.scalar())

In [ ]:
from sqlalchemy  import func
from sqlalchemy import or_

s = select(func.count(films.c.film_id)).where(
    or_(
        films.c.title.like("A%"),
        films.c.rental_rate > 3,
        films.c.length <= 60
        )
    )

print(s)

rp = engine.execute(s)

print(rp.scalar())

6.
Verhoog de verhuurprijs met 10%.

In [35]:
filmprijs = 10

filmprijs *= 1.1

print(filmprijs)

11.0

In [38]:
from sqlalchemy.sql import update

s = update(films).values(rental_rate = (films.c.rental_rate * 1.1))
print(s)

results = engine.execute(s)

UPDATE film SET rental_rate=(film.rental_rate * :rental_rate_1)

# Oefeningen 3

2.
Geef een lijst van alle steden met hun landen erbij.
Geef een lijst van alle steden in SPANJE
Voeg Belgie en Mechelen toe (link Belgie aan Mechelen). (stel dat je het id van Belgie niet weet)

In [ ]:
steden = Table("city", metadata, autoload = True, autoload_with=engine)

s = select(steden.c.city, landen.c.country).join(landen)

print(s)

results = engine.execute(s).fetchall()

for result in results:
    print(result)

In [ ]:
steden = Table("city", metadata, autoload = True, autoload_with=engine)

s = select(steden.c.city, landen.c.country).join(landen, steden.c.country_id == landen.c.country_id )

print(s)

results = engine.execute(s).fetchall()

for result in results:
    print(result)

In [46]:
steden = Table("city", metadata, autoload = True, autoload_with=engine)

s = select(steden.c.city, landen.c.country).join(landen, steden.c.country_id == landen.c.country_id ).where(landen.c.country == "Spain")

print(s)

results = engine.execute(s).fetchall()

for result in results:
    print(result)

SELECT city.city, country.country
FROM city JOIN country ON city.country_id = country.country_id
WHERE country.country = :country_1
('A Corua (La Corua)', 'Spain')
('Donostia-San Sebastin', 'Spain')
('Gijn', 'Spain')
('Ourense (Orense)', 'Spain')
('Santiago de Compostela', 'Spain')