# Intermezzo

## List comprehensions

een andere schrijfwijze om lijsten aan te maken met logica.

In [2]:
squares_list = [num * num for num in range(1, 11)]
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
word = "Hello from AskPython"
 
letters = [letter for letter in word]
 
print(letters)

['H', 'e', 'l', 'l', 'o', ' ', 'f', 'r', 'o', 'm', ' ', 'A', 's', 'k', 'P', 'y', 't', 'h', 'o', 'n']

## using conditions in list comprehensions

In [4]:
squares = [i * i for i in range(1, 11) if i % 2 == 0]
print(squares)

[4, 16, 36, 64, 100]

`list = [value1 if condition else value2 for item in iterable]`

In [5]:
my_list = [i * i if i <= 5 else 0 for i in range(10)]
print(my_list)

[0, 1, 4, 9, 16, 25, 0, 0, 0, 0]

In [19]:
number_list = [ x for x in range(20) if x % 2 == 0]
print(number_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

## nested IF's

In [ ]:
num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(num_list)

# Examples - Excercices

In [9]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

In [10]:
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [11]:
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [12]:
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [13]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [15]:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [16]:
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [17]:
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [18]:
h_letters = [ letter for letter in 'human' ]
print( h_letters)

['h', 'u', 'm', 'a', 'n']

In [20]:
obj = ["Even" if i%2==0 else "Odd" for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [29]:
result = [i**2 for i in [1,2,3,4,5] if i%2==0]
print(result)

[4, 16]

In [30]:
[i**2 if i%2==0 else i**3 for i in [1,2,3,4,5]]

[1, 4, 27, 16, 125]

In [31]:
mat = [[1,2,3,4], [5,6,7,8], [9,10,11,12], [13,14,15,16]]
[i for row in mat for i in row if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16]

### Build as a List Comprehension

In [27]:
transposed = []
matrix = [[1, 2, 3, 4], [4, 5, 6, 8]]

for i in range(len(matrix[0])):
    transposed_row = []

    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

print(transposed)

[[1, 4], [2, 5], [3, 6], [4, 8]]

In [28]:
matrix = [[1, 2, 3, 4], [4, 5, 6, 8]]
transpose = [[row[i] for row  in matrix] for i in range(len(matrix[0]))]
print(transpose)

[[1, 4], [2, 5], [3, 6], [4, 8]]

### extra examples

In [32]:
mylist = [9, 3, 6, 1, 5, 0, 8, 2, 4, 7]
list_b = [6, 4, 6, 1, 2, 2]

[(i, mylist.index(i)) for i in list_b]

[(6, 2), (4, 8), (6, 2), (1, 3), (2, 7), (2, 7)]

# tokenize sentences into list of words

In [34]:
sentences = ["a new world record was set", 
             "in the holy city of ayodhya", 
             "on the eve of diwali on tuesday", 
             "with over three lakh diya or earthen lamps", 
             "lit up simultaneously on the banks of the sarayu river"]

stopwords = ['for', 'a', 'of', 'the', 'and', 'to', 'in', 'on', 'with']

In [35]:

results = [word for sentence in sentences for word in sentence.split(' ') if word not in stopwords]
print(results)

['new', 'world', 'record', 'was', 'set', 'holy', 'city', 'ayodhya', 'eve', 'diwali', 'tuesday', 'over', 'three', 'lakh', 'diya', 'or', 'earthen', 'lamps', 'lit', 'up', 'simultaneously', 'banks', 'sarayu', 'river']

In [36]:
results = [[word for word in sentence.split(' ') if word not in stopwords] for sentence in sentences]
print(results)

[['new', 'world', 'record', 'was', 'set'], ['holy', 'city', 'ayodhya'], ['eve', 'diwali', 'tuesday'], ['over', 'three', 'lakh', 'diya', 'or', 'earthen', 'lamps'], ['lit', 'up', 'simultaneously', 'banks', 'sarayu', 'river']]

# Excercises

In [37]:
# Input
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] # Desired Output [1, 2, -3, -4, -5, -6, -7, -8, 9, 10]

In [38]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-i if  3 <= i <= 8 else i for i in mylist]

[1, 2, -3, -4, -5, -6, -7, -8, 9, 10]

Make a dictionary of the 26 english alphabets mapping each with the corresponding integer.

In [ ]:
# Desired output
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6,
 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12,
 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18,
 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24,
 'y': 25, 'z': 26}

In [40]:
import string
{a:i+1 for a,i in zip(string.ascii_letters[:26], range(26))}

# use ord() -- chr()

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12,
 'm': 13,
 'n': 14,
 'o': 15,
 'p': 16,
 'q': 17,
 'r': 18,
 's': 19,
 't': 20,
 'u': 21,
 'v': 22,
 'w': 23,
 'x': 24,
 'y': 25,
 'z': 26}

 Replace all alphabets in the string ‘Lee Quan Yew’, by substituting the alphabet with the corresponding numbers, like 1 for ‘a’, 2 for ‘b’ and so on.

In [ ]:
# desired outpu
[12, 5, 5, ' ', 17, 21, 1, 14, ' ', 25, 5, 23]

In [41]:
import string
d = {a:i+1 for a,i in zip(string.ascii_lowercase, range(26))}
[d.get(a.lower(), ' ') for a in 'Lee Quan Yew']

[12, 5, 5, ' ', 17, 21, 1, 14, ' ', 25, 5, 23]

Get the unique list of words from the following sentences, excluding any stopwords.
=> dictionary

In [43]:
sentences = ["The Hubble Space telescope has spotted", 
             "a formation of galaxies that resembles", 
             "a smiling face in the sky"] # Desired output: {'face', 'formation', 'galaxies', 'has', 'hubble', 'resembles', 'sky', 'smiling', 'space', 'spotted', 'telescope', 'that', 'the'}

In [44]:
{word.lower() for sentence in sentences for word in sentence.split(' ') if word not in stopwords}

{'face',
 'formation',
 'galaxies',
 'has',
 'hubble',
 'resembles',
 'sky',
 'smiling',
 'space',
 'spotted',
 'telescope',
 'that',
 'the'}

Tokenize the following sentences excluding all stopwords and punctuations.

In [45]:
sentences = ["The Hubble Space telescope has spotted", 
             "a formation of galaxies that resembles", 
             "a smiling face in the sky", 
             "The image taken with the Wide Field Camera", 
             "shows a patch of space filled with galaxies", 
             "of all shapes, colours and sizes"]

stopwords = ['for', 'a', 'of', 'the', 'and', 'to', 'in', 'on', 'with']

# Desired Output
#> [['the', 'hubble', 'space', 'telescope', 'has', 'spotted'],
#>  ['formation', 'galaxies', 'that', 'resembles'],
#>  ['smiling', 'face', 'sky'],
#>  ['the', 'image', 'taken', 'wide', 'field', 'camera'],
#>  ['shows', 'patch', 'space', 'filled', 'galaxies'],
#>  ['all', 'shapes,', 'colours', 'sizes']]

In [47]:
[[word.lower() for word in sentence.split(' ') if word.lower() not in stopwords] for sentence in sentences]

[['hubble', 'space', 'telescope', 'has', 'spotted'],
 ['formation', 'galaxies', 'that', 'resembles'],
 ['smiling', 'face', 'sky'],
 ['image', 'taken', 'wide', 'field', 'camera'],
 ['shows', 'patch', 'space', 'filled', 'galaxies'],
 ['all', 'shapes,', 'colours', 'sizes']]

Create a list of (word:id) pairs for all words in the following sentences, where id is the sentence index.

In [48]:
# Input
sentences = ["The Hubble Space telescope has spotted", 
             "a formation of galaxies that resembles", 
             "a smiling face in the sky"] 
# Desired output: [('the', 0), ('hubble', 0), ('space', 0), ('telescope', 0), ('has', 0), ('spotted', 0), ('a', 1), ('formation', 1), ('of', 1), ('galaxies', 1), ('that', 1), ('resembles', 1), ('a', 2), ('smiling', 2), ('face', 2), ('in', 2), ('the', 2), ('sky', 2)]

In [51]:
[(word.lower(), i) for i, sentence in enumerate(sentences) for word in sentence.split(' ')]

[('the', 0),
 ('hubble', 0),
 ('space', 0),
 ('telescope', 0),
 ('has', 0),
 ('spotted', 0),
 ('a', 1),
 ('formation', 1),
 ('of', 1),
 ('galaxies', 1),
 ('that', 1),
 ('resembles', 1),
 ('a', 2),
 ('smiling', 2),
 ('face', 2),
 ('in', 2),
 ('the', 2),
 ('sky', 2)]

Print the inner positions of the 64 squares in a chess board, replacing the boundary squares with the string ‘—-‘.

In [ ]:
# Desired Output:
[['----', '----', '----', '----', '----', '----', '----', '----'],
 ['----', (1, 1), (2, 1), (3, 1), (4, 1), (5, 1), (6, 1), '----'],
 ['----', (1, 2), (2, 2), (3, 2), (4, 2), (5, 2), (6, 2), '----'],
 ['----', (1, 3), (2, 3), (3, 3), (4, 3), (5, 3), (6, 3), '----'],
 ['----', (1, 4), (2, 4), (3, 4), (4, 4), (5, 4), (6, 4), '----'],
 ['----', (1, 5), (2, 5), (3, 5), (4, 5), (5, 5), (6, 5), '----'],
 ['----', (1, 6), (2, 6), (3, 6), (4, 6), (5, 6), (6, 6), '----'],
 ['----', '----', '----', '----', '----', '----', '----', '----']]

In [52]:
[[(i,j) if (i not in (0, 7)) and (j not in (0, 7)) else ('----') for i in range(8)] for j in range(8)]

[['----', '----', '----', '----', '----', '----', '----', '----'],
 ['----', (1, 1), (2, 1), (3, 1), (4, 1), (5, 1), (6, 1), '----'],
 ['----', (1, 2), (2, 2), (3, 2), (4, 2), (5, 2), (6, 2), '----'],
 ['----', (1, 3), (2, 3), (3, 3), (4, 3), (5, 3), (6, 3), '----'],
 ['----', (1, 4), (2, 4), (3, 4), (4, 4), (5, 4), (6, 4), '----'],
 ['----', (1, 5), (2, 5), (3, 5), (4, 5), (5, 5), (6, 5), '----'],
 ['----', (1, 6), (2, 6), (3, 6), (4, 6), (5, 6), (6, 6), '----'],
 ['----', '----', '----', '----', '----', '----', '----', '----']]