# DataTypes

De verschillende datatypes zijn:

```
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType
```

INTEGERs zijn gehele getallen, of met andere woorden getallen zonder komma's

FLOAT zijn komma getallen

BOOLEAN kan 2 waarden aannemen, 'True' of 'False'

NoneTYPE is een special geval. Dit betekent dat er geen waarde is toegekend.

met de functie type() kan je te weten komen wat het type van je waarde is.

In [1]:
print(type(9))
print(type("string"))
print(type("g"))
print(type(2J + 1))
print(type(1.2))
print(type(22/7))
print(type([]))
print(type(()))
print(type({}))
print(type(0==0))
print(type(True))
print(type(set()))
print(type(frozenset()))
print(type(None))
print(type(bytes()))
print(type(range(6)))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'complex'>
<class 'float'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>
<class 'bool'>
<class 'set'>
<class 'frozenset'>
<class 'NoneType'>
<class 'bytes'>
<class 'range'>

In [32]:
float(3)

3.0

In [24]:
x = "abc"
int(x)

ValueError: invalid literal for int() with base 10: 'abc'

In [25]:
y = "3"
int(y)

3

In [ ]:
str(3)

In [ ]:
str(abc)

Voor integers moet je punten gebruiken. Geen komma's.

1000000 ipv 1,000,000 ipv 1.000.000

voor 1 miljoen.

Voor extra lange getallen kan je onderscores gebruiken om ze leesbaarder te maken.

In [30]:
x = 1,000,7
type(x)
x

(1, 0, 7)

In [31]:
1_000_000_000

1000000000

# Operators

In [35]:
print(3+2)
print(3*4)
print(3**4)
print(3%4)
print(3//4)
print(3//4 + 3%4)
print(3/4)
print(3-4)
print(3* "hallo, ")
print(4**(1/2))

5
12
81
3
0
3
0.75
-1
hallo, hallo, hallo,
2.0

# String manipulation

In [42]:
text = "Dit is mijn tekst. Hallo !"

text.lower()
text.title()

if "is" not in text:
    print("Yeeu")

print(text + " Jef")
print(text, "Jef")

Dit is mijn tekst. Hallo ! Jef
Dit is mijn tekst. Hallo ! Jef

# return multiple values

In [49]:
def optellen(getal_1, getal_2):
    # print(getal_1 + getal_2)
    return getal_1 + getal_2, getal_1-getal_2
    return getal_1 - getal_2, getal_1+getal_2

resultaat, res = optellen(3, 4)

print(resultaat, res)

7 -1

# f-string + special character ('\n')
\n - Newline.
\t- Horizontal tab.

In [2]:
x = 9
print("x is :", x)
print(f"x ix : {x}")
print("Deze teskt staat op \n twee lijnen")
print(r'\n is')
print('\t hier')

x is : 9
x ix : 9
Deze teskt staat op
 twee lijnen
\n is
	 hier

# Variabelen initialiseren

In [55]:
z = 5

x=y=z

print(x)
print(y)

5
5

In [60]:
a, b = 3, 4
A, B = a, b
print(a, b)
print(A, B)

3 4
3 4

In [ ]:
4 + 5
x = 7
x
y = 5 + x
y

Je kan variabelen eender welke naam geven. 

Een naam wordt een variabele vanaf het ogenblik dat je de naam een waarde toekent. 

Deze waarde wordt toegekend door ` = `.

In [ ]:
teller = 6
noemer = 4

quotient = teller // noemer
rest = teller % noemer

print('het qoutient = ', quotient, 'en de rest  = ', rest)

Variabelen maken het gemakkelijker om te hergebruiken.

Indien je bijvoorbeeld hierboven de teller zou willen veranderen in 7, kan je dit eenvoudig bovenaan bij `teller = ` veranderen.

Indien je zonder variabele had gewerkt, had je getal 6 overal moeten zoeken en veranderen in 7. In dit voorbeeld is dit doenbaar, maar bij uitgebreidere programma's kan dit een pak moeilijker worden.

Bij een niewe waarde toekenning, zal de oude waarde niet meer aan de variabele gekoppeld zijn.

In [ ]:
pi = 3.1416
print (pi)
pi = 22/7
print(pi)

## namen voor variabelen
wanneer je een waarde geeft aan een variabele, zal de interpreter deze waarde koppelen aan de variabele.
Wanneer je echter later in je programma een nieuwe waarde aan dezelfde variabele geeft, zal deze nieuwe waarde aan de variabele worden gekoppeld. De oude waarde is niet meer gekoppeld aan de variabele. 

Het kan helpen om variabelen te bekijken als labels.

Bij het verzinnen van namen voor variabelen is het belangrijk om een aantal regels in acht te nemen:

* het is steeds "lowercase"
* gebruik en eunderscore ("_") ipv spaties
* je mag met een letter of een onderscore beginnen, maar niet met een cijfer (`message_1 ` kan)
* probeer namen van python functies te vermijden (gebruik dus bijvoorbeeld niet `print`)
* je namen moeten kort maar beschrijvend zijn. 
* pas op met de kleine "L" en hoofdletter "O", ze lijken nogal op de cijfers "1" en "0".