```
postgres=# \c tesdb


CREATE TABLE <Table_Name>
(<Field 1> <Data Type>,
<Field 2> <Data Type>,
\. \. \.
<Field N> <Data Type>);


tesdb=# CREATE TABLE proglang_tbl (
id INTEGER,
language VARCHAR(20),
author VARCHAR(25),
year INTEGER);

tesdb=# \dt

```

```
INSERT INTO <Table Name>
VALUES ('Value1', 'Value2', ...)


tesdb=# INSERT INTO proglang_tbl
        VALUES (1, 'Fortran', 'Backus', 1955);
tesdb=# INSERT INTO proglang_tbl
        VALUES (2, 'Lisp', 'McCarthy', 1958);
tesdb=# INSERT INTO proglang_tbl
        VALUES (3, 'Cobol', 'Hopper', 1959);

```

```
SELECT <Selection> FROM <Table Name>;


tesdb=# SELECT * FROM proglang_tbl;

```

```

```

```

```