# The Null Constraint


```
tesdb=# CREATE TABLE proglang_tblcopy (
        id          INTEGER         NOT NULL,
        language    VARCHAR(20)     NOT NULL,
        author      VARCHAR(25)     NOT NULL,
        year        INTEGER         NOT NULL,
        standard    VARCHAR(10)     NULL);


tesdb=# SELECT * FROM proglang_tblcopy;

```

Testing => add a null value

```

tesdb=# INSERT INTO proglang_tblcopy
        VALUES (1, 'Fortran', 'Backus', null,
        'ANSI');





```

```
tesdb=# INSERT INTO proglang_tblcopy
        (id, language, author, year, standard)
        VALUES
        (1, 'Prolog', 'Colmerauer', '1972', 'ISO');
        INSERT INTO proglang_tblcopy
        (id, language, author, year)
        VALUES
        (2, 'Perl', 'Wall', '1987');
        INSERT INTO proglang_tblcopy
        (id, year, standard, language, author)
        VALUES
        (3, '1964', 'ANSI', 'APL', 'Iverson');


tesdb=# SELECT * FROM proglang_tblcopy;
```

```
tesdb=# CREATE TABLE proglang_constraints (
        id              INTEGER         NOT NULL,
        language        VARCHAR(20)     NOT NULL,
        author          VARCHAR(25)     NOT NULL,
        year            INTEGER         NOT NULL        CHECK (year > 1950),
        standard        VARCHAR(10)     NULL);

```

Trying to violate a check constraint

```
tesdb=# INSERT INTO proglang_constraints
        (id, language, author, year)
        VALUES
        (1, 'Short Code', 'Mauchly', 1949);

```

A CREATE TABLE statement with a primary key

```
tesdb=# CREATE TABLE proglang_tbltmp (
        id              INTEGER         NOT NULL        PRIMARY KEY,
        language        VARCHAR(20)     NOT NULL,
        author          VARCHAR(25)     NOT NULL,
        year            INTEGER         NOT NULL,
        standard        VARCHAR(10)     NULL);
```

Inserting duplicate data in a table without a primary key


```
tesdb=# INSERT INTO proglang_tblcopy
        (id, language, author, year)
        VALUES
        (2, 'Perl', 'Wall', '1987');
        INSERT INTO proglang_tblcopy
        (id, language, author, year)
        VALUES
        (2, 'Perl', 'Wall', '1987');


tesdb=# SELECT * FROM proglang_tblcopy;


```

Trying to add a duplicate record violating a primary key constraint

```
tesdb=# INSERT INTO proglang_tbltmp
        (id, language, author, year)
        VALUES
        (2, 'Perl', 'Wall', '1987');
```

# Unique Key Constraints

A unique key like a primary key is also used to make each record inside a
table unique. 

have a unique key
constraint on the language field

```
tesdb=# CREATE TABLE proglang_tbluk (
        id              INTEGER         NOT NULL        PRIMARY KEY,
        language        VARCHAR(20)     NOT NULL        UNIQUE,
        author          VARCHAR(25)     NOT NULL,
        year            INTEGER         NOT NULL,
        standard        VARCHAR(10)     NULL);

```

We will now try to insert two rows about the language Prolog cleverly changing the id field to test out our unique constraint

```
tesdb=# INSERT INTO proglang_tbluk
        (id, language, author, year, standard)
        VALUES
        (1, 'Prolog', 'Colmerauer', 1972, 'ISO');

tesdb=# INSERT INTO proglang_tbluk
        (id, language, author, year, standard)
        VALUES
        (2, 'Prolog', 'Colmerauer', 1972, 'ISO');
```

# Differences Between a Primary Key and a Unique Key

1. A primary key field cannot take on a NULL value,
whereas a field with a unique constraint can.
However, there can be only one such record
since each value must be unique due to the very
definition of the constraint.

2. You are allowed to define only one primary key
constraint for a table, but you can apply the unique
constraint to as many fields as you like.