In this chapter we study the Data Manipulation Language (DML) 

The three basic commands of DML are as follows.
* INSERT Populates tables with new data
* UPDATE Updates existing data
* DELETE Deletes data from tables

# Inserting Data into a Table from Another Table

You can insert new records into a table from another one by using a combination of INSERT and SELECT. 

use a WHERE conditional to limit or filter the records you wish to enter

create a new table called stdlang_tbl
insert rows from the proglang_tbl 

```
tesdb=# CREATE TABLE stdlang_tbl
        (language varchar(20),
        standard varchar (10));

tesdb=# INSERT INTO stdlang_tbl
        SELECT  language,
                standard
        FROM proglang_tbl
        WHERE standard IS NOT NULL;
```

If our stdlang_tbl had defined language as its primary key, our insert statements would run fine unless we encountered a duplicate language value

```
tesdb=# DROP TABLE stdlang_tbl;

tesdb=# CREATE TABLE stdlang_tbl
        (language varchar(20) PRIMARY KEY,
        standard varchar (10));

tesdb=# INSERT INTO stdlang_tbl
        SELECT language,
                standard
        FROM proglang_tbl
        WHERE standard IS NOT NULL;
```

What would happen if we somehow violated the constraints? 

creating a new table standardizing_bodies 

Violating the UNIQUE constraint while INSERT

```
tesdb=# CREATE TABLE standardizing_bodies
        ( name varchar(10) UNIQUE );

tesdb=# INSERT INTO standardizing_bodies
        SELECT standard FROM proglang_tbl
        WHERE standard IS NOT NULL;
```

# Updating Existing Data

```
UPDATE <table_name> SET
<column1> = <value>,
<column2> = <value>,
<column3> = <value>
. . .
WHERE <condition>;
```

Populating some more data in our programming
languages table

```
tesdb=# INSERT INTO proglang_tbl
        (id, language, author, year, standard)
        VALUES
        (6, 'Forth', 'Moore', 1973, NULL);
tesdb=# INSERT INTO proglang_tbl
        (id, language, author, year, standard)
        VALUES
        (7, 'Tcl', 'Ousterhout', 1988, NULL);
```

Running an UPDATE on all rows of a table

```
tesdb=# SELECT * FROM proglang_tbl;

tesdb=# UPDATE proglang_tbl SET
        year = year + 10;

tesdb=# SELECT * FROM proglang_tbl;

tesdb=# UPDATE proglang_tbl SET
        year = year - 10;

tesdb=# SELECT * FROM proglang_tbl;

```

We later realize that the Forth language was created near 1972 (instead of 1973), and it actually has been standardized in 1994 by the ANSI. Thus we now go about correcting our mistakes by writing our update queries

But we update wrong using "1973" and "ISO"

```
tesdb=# UPDATE proglang_tbl SET
            year = 1973
        WHERE language = 'Forth';

tesdb=# UPDATE proglang_tbl SET
            standard = 'ISO'
        WHERE language = 'Forth';

tesdb=# SELECT * FROM proglang_tbl;

```

We could have easily combined updating the multiple fields in a single statement

Lets correct our mistakes

```
tesdb=# UPDATE proglang_tbl SET
            year = 1972,
            standard = 'ANSI'
        WHERE language = 'Forth';
```

# Deleting Data from Tables

DELETE command to delete records from a table. 

you can choose which records you want to delete based on a condition or delete all records, but you cannot delete certain fields of a record using this statement.

```
DELETE FROM <table_name>
WHERE <condition>;
```

conditional clause in the DELETE is optional

always used â€“ simply because not using it would cause all the records to be deleted from a table,

```
tesdb=# DELETE FROM stdlang_tbl;

tesdb=# SELECT * FROM stdlang_tbl;

```


```
tesdb=# SELECT * FROM proglang_tbl;

tesdb=# DELETE FROM proglang_tbl 
        WHERE language = 'Forth';

```