# Counting the Records in a Table

just wish to know how many records exist in a table without actually outputting the entire contents of these records. 


using the id of the last row of the table, 7 in this case, is clearly not a good idea. 
id 6 is not in the Table anymore

![](images/Screenshot%202022-11-01%20092853.png)

the use of an SQL function called COUNT. 

```
tesdb=# SELECT COUNT(*) FROM proglang_tbl;
```

What would happen if instead of giving an entire record to count, we explicitly specify a column? And what if the column had null values?

```
tesdb=# SELECT COUNT(standard) FROM proglang_tbl;
```

# Using DISTINCT with COUNT

the resultset contained a duplicate standards body value â€“ ISO for both APT and Prolog.

Sometimes it is useful to be able to leave out such duplicates. 

DISTINCT clause allows us to utilize only non-duplicated values 

```
tesdb=# INSERT INTO proglang_tbl
        (id, language, author, year, standard)
        VALUES
        (6, 'PL/I', 'IBM', 1964, 'ECMA');

tesdb=# SELECT DISTINCT year
        FROM proglang_tbl;        

tesdb=# SELECT COUNT (DISTINCT year)
        FROM proglang_tbl;
```

Using DISTINCT on the standard field has a slightly different output than we might expect at first guess 

We actually get five rows in our output including the null value

```
tesdb=# SELECT DISTINCT standard
        FROM proglang_tbl;

tesdb=# SELECT COUNT (DISTINCT standard)
        FROM proglang_tbl;

```

Combining this with COUNT removes the significance of the null row

# Column Aliases

to give a meaningful representation 

rename column headings

```
SELECT <column1> <alias1>,
<column2> <alias2>,
...
FROM <table>;

```

creating a column alias will not permanently rename a field


```
tesdb=# SELECT id,
        language,
        author creator
        FROM proglang_tbl;
```


```
tesdb=# SELECT id,
        language,
        author creator
        FROM proglang_tbl WHERE creator = 'Ross';
```

# Order of Execution of SELECT Queries

A query is not evaluated from left to right; there is a specific sequence in
which its various parts are evaluated as given below.
1. FROM clause
2. WHERE clause
3. GROUP BY clause
4. HAVING clause
5. SELECT clause
6. ORDER BY clause

There is an interesting corollary of having the SELECT evaluation being lower than the WHERE clause. Can you guess what it is?


It is the inability of database management systems like PostgreSQL to use column aliases in the WHERE clause.

But it will work in ORDER BY ...

```
tesdb=# SELECT id,
        language,
        author creator
        FROM proglang_tbl
        ORDER BY creator;
```

# Using the LIKE Operator

the LIKE operator will help us with wildcard comparisons. 

* % (Percent) Used to match multiple characters
including a single character and no character
* _ (Underscore) Used to match exactly one character

```
tesdb=# SELECT * FROM proglang_tbl
        WHERE language LIKE 'P%';
```

all language records whose name begins with the letter capital P.

All languages ending with l and 3 characters long

```
tesdb=# SELECT * FROM proglang_tbl
        WHERE language LIKE '__l';
```

We can also use NOT in conjunction with LIKE to negate or inverse the result.

```
tesdb=# SELECT * FROM proglang_tbl
        WHERE language NOT LIKE '__l';
```

LIKE: its comparisons are computationally expensive on the database, especially the ones involving multiple % wildcards