# Mathematical Calculations

Any numeric field

We can add, subtract, multiply, divide, and even find the remainder of a division operation fairly easily. 

* Addition +
* Subtraction -
* Multiplication *
* Division /
* Remainder %



## try to find out the decade in which the language was created. 

```
tesdb=# SELECT language,
        (year % 10) remain
        FROM proglang_tbl;

tesdb=# SELECT language,
        year - (year % 10) decade
        FROM proglang_tbl;
```

Another approach 

```
tesdb=# SELECT language,
        (year / 10) * 10 decade
        FROM proglang_tbl;
```

Since an integer cannot store decimal points, division by 10 would silently chop off the remainder.

# String Operations

the most commonly used string operation is concatenation.

* the concatenation operator || (pipes)

even numeric fields can be treated as a string

```
tesdb=# SELECT language,
        'The '||((year/10)*10)||'s' decade
        FROM proglang_tbl;

SELECT language,
        CONCAT(
            'The ', (year / 10) * 10, 's' 
        ) decade
FROM proglang_tbl;            
```

Another common string operation is substring, 

```
SELECT SUBSTR(<field name>, <starting position>, <length>),
...
FROM <table>;


tesdb=# SELECT SUBSTR(language, 1, 2),
        year
        FROM proglang_tbl;

SELECT SUBSTR(language, 1, 3),
        year
FROM proglang_tbl;        

SELECT SUBSTR(language, 2, 3),
        year
FROM proglang_tbl;   
```

PostgreSQL gives the same result when we
use SUBSTRING instead of SUBSTR

Another class of string operations are UPPER
and LOWER

```
tesdb=# SELECT UPPER(language),
        LOWER(standard)
        FROM proglang_tbl;
```

# Literal Values

use a fixed literal value as the values
of a new column

```
tesdb=# SELECT language,
        year,
        'AD' AD
        FROM proglang_tbl;
```


```
tesdb=# 
```