# Views

the output of a query is also a table, a relation to be precise.

A view is a
query that can be used like a table.

Think of it as a virtual table that stores for the viewer’s convenience a
pre-computed resultset.

# Why Are Views Needed?

Most production database systems would contain a lot of tables. 

Views would come to the rescue of the casual
database user

Another advantage that views bring to the table is security. We can
restrict access to base tables and provide views containing only the data
a particular group of users is allowed to see. 

views allow the underlying base tables to change their
structure to cater to evolving needs and yet views can remain the same.

# Creating a View

General syntax of view creation:

```
CREATE VIEW <view name> AS <query>

```


```
tesdb=# CREATE VIEW language_chronology AS
        SELECT language, year
        FROM proglang_tbl
        ORDER BY year ASC;
```

explicitly added the ordering clause to the view
creation.


```
tesdb=# SELECT * FROM language_chronology;
```

We can also include calculated fields 

keep in mind is how we rename the calculated
field column


Let’s re-create our decade query from Chapter 9, 

```
tesdb=# CREATE VIEW language_decade AS
        SELECT language,
        'The '||((year/10)*10)||'s' decade
        FROM proglang_tbl;

tesdb=# SELECT * FROM language_decade;
```

Another way to rename the fields is to specify it in the view definition




```
tesdb=# CREATE VIEW language_era (lang, era) AS
        SELECT language,
        'The '||((year/10)*10)||'s'
        FROM proglang_tbl
        WHERE year < 1971;

tesdb=# SELECT * FROM language_era;

```

Note that renaming a field has no
effect on its data type or null status

# Modifying Data Through Views

a simple update of the year column through our
language_chronology table

```
tesdb=# UPDATE language_chronology
        SET year=1977
        WHERE language='Fortran';


tesdb=# SELECT * FROM language_chronology
        WHERE language='Fortran';


tesdb=# SELECT * FROM language_chronology;


tesdb=# SELECT * FROM proglang_tbl;

tesdb=# SELECT * FROM proglang_tbl
        WHERE language='Fortran';
 
```

view language_era that was dependent
on proglang_tbl would not contain the row for Fortran
the use of the condition WHERE year < 1971

TRY
another data modification
update the calculated field inside the view language_era 


```
tesdb=# UPDATE language_era 
        SET era='The 1960s'
        WHERE lang='JOVIAL';
```

The DBMS has rejected our request to update a calculated field
because era does not exist in the base table proglang_tbl.

Changing the lang field of the same view is perfectly unambiguous and
hence allowed 

```
tesdb=# UPDATE language_era 
        SET lang='Jovial'
        WHERE lang='JOVIAL';

tesdb=# SELECT * FROM proglang_tbl
        WHERE id=4;

```

we can create a view with aggregated columns using the
GROUP BY clause

```
tesdb=# CREATE VIEW standards AS
        SELECT standard, count(*)
        FROM proglang_tbl
        GROUP BY standard;

tesdb=# SELECT standard
        FROM standards;
```

modifying the aggregated column would be ambiguous and thus not
allowed. 

```
tesdb=# UPDATE standards 
        SET standard='IS'
        WHERE standard='ISO';
```

# Deleting Views

```
tesdb=# DROP VIEW standards;
```

you cannot accidentally drop a table using DROP VIEW,

```
tesdb=# DROP VIEW proglang_tbl;
```


```
tesdb=# 
```


```
tesdb=# 
```


```
tesdb=# 
```


```
tesdb=# 
```


```
tesdb=# 
```


```
tesdb=# 
```


```
tesdb=# 
```


```
tesdb=# 
```


```
tesdb=# 
```


```
tesdb=# 
```


```
tesdb=# 
```


```
tesdb=# 
```


```
tesdb=# 
```